{% extends "base.html" %}

{% load i18n %}

{% block title %}Articles{% endblock title %}

{% block content %}
<h1>{% trans "Articles" %}</h1>

<table>
	<thead>
		<tr>
			<td>{% trans "Title" %}</td>
			<td>{% trans "Author" %}</td>
			<td>{% trans "Synopsis" %}</td>
			<td>{% trans "Created" %}</td>
		</tr>
	</thead>
	<tbody>
		{% for article in articles %}
			<tr>
				<td>{{ article.title }}</td>
				<td>{{ article.author.username }}</td>
				<td>{{ article.synopsis|truncatechars:20 }}</td>
				<td>{{ article.created }}</td>
				<td>{{ article.created|timesince }} {% trans "ago" %}</td>
				<td><a href="{% url 'details' article.id %}">{% trans "See More" %}</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}