{% extends "base.html" %}

{% block title %}Publications{% endblock title %}

{% block content %}
<h1>Publications</h1>

{% if publications %}
<table>
	<thead>
		<tr>
			<td>Title</td>
			<td>Synopsis</td>
			<td>Created</td>
		</tr>
	</thead>
	<tbody>
		{% for article in publications %}
		<tr>
			<td>{{ article.title }}</td>
			<td>{{ article.synopsis }}</td>
			<td>{{ article.created }}</td>
			<td><a href="{% url 'details' article.id %}">See More</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
	<p>No publications available</p>
{% endif %}

{% endblock content %}